.about {
    color: black;
    .card {
        padding: 1.5rem;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        color: inherit;
        margin-bottom: 2rem;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        h3 {
            color: inherit;
            margin-bottom: 1rem;
        }

        p {
            color: inherit;
            line-height: 1.5;
        }
    }

    .card:nth-child(odd) {
        background-color: rgb(228, 88, 38);
    }

    .card:nth-child(even) {
        background-color: rgb(240, 165, 0);
    }

    .details {
        color: inherit;
        width: 100%;
    }

    .icons {
        margin: 3rem 0;

        span {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;

            svg {
                font-size: 1.5rem;
                margin-right: 0.5rem;
                color: black;
            }

            p {
                font-size: 1.3rem;
                color: inherit;
            }
        }
    }

    @media screen and (min-width: 700px) {
        .card {
            width: calc(50% - 1rem);
            margin-right: 1rem;
        }

        .section {
            flex-direction: row;
            justify-content: space-between;
        }

        .details {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 100%;
        }
    }
}