.product {
    .card {
        padding: 2rem;
        margin-top: 2rem;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .review {
        border-top: 1px solid #ccc;
        padding-top: 1.5rem;
        margin-top: 1.5rem;
    }

    .details {
        padding-top: 2rem;
        display: flex;

        .img {
            width: 45%;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .content {
            width: 55%;
            padding: 0 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            &>* {
                margin-bottom: 1rem;
            }

            .price {
                color: #ff5722;
                font-weight: bold;
                font-size: 1.8rem;
            }

            .count {
                display: flex;
                align-items: center;

                &>* {
                    margin-right: 1rem;
                }

                .btn {
                    padding: 0.5rem 1rem;
                    font-size: 1.4rem;
                }
            }
        }
    }
}