.table {
    padding: 20px;
    width: 100%;
    overflow-x: auto;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .search {
        width: 100%;
        max-width: 300px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        font-size: 1.6rem;

        thead {
            border-bottom: 2px solid #ddd;
            background-color: #f8f9fa;
            color: #495057;
            font-weight: bold;
            text-transform: uppercase;
        }

        th, td {
            padding: 18px;
            text-align: center;
        }

        th {
            white-space: nowrap;
        }

        td {
            vertical-align: middle;
            color: #495057;

            &.icons {
                >* {
                    margin-right: 5px;
                    cursor: pointer;
                }
            }
        }

        tr:nth-child(even) {
            background-color: #fff;
        }
    }
}